body {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #F0FEF8;
}

.container {
    max-width: 912px;
    padding: 0 16px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.header__wrapper {
    background-color: #8BFBC5;
    height: 60px;
}

.header__inner {
    height: 60px;
}
.header__content {
    max-width: 450px;
    width: 100%;
}

.header__search-form {
    position: relative;
}

.header__search-form::before {
    content: "";
    width: 17px;
    height: 22px;
    background-image: url("../images/icons/search_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.header__search {
    background-color: #fff;
    max-width: 350px;
    width: 350px;
    border-radius: 20px;
    padding: 3px 14px;
    font-size: 12px;
    line-height: 14px;
    /* отступ между буквами */
    letter-spacing: 0.1em;
}

.header__search::placeholder {
    color: rgba(92, 180, 138, 0.6);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
}


.header__content,
.header__inner {
    display: flex;
    /* отступы у элементов одинаковы друг от друга */
    justify-content: space-between;
    /* элементы по центру друг друга по вертикали */
    align-items: center;
}

.wrapper {
    margin: 10px 0;
}

.sidebar {
    max-width: 250px;
    padding: 0px 10px;
    background-color: #fff;
}

.sidebar + .sidebar{
    margin-top: 15px;
}

.sidebar__menu-list:not(.sidebar__menu-list:first-child) {
    border-top: 1px solid #000;
}

.sidebar__menu-list {
    display: block;
    padding: 20px 0 !important;
}

.sidebar__menu-item {
    padding-left: 15px;
}

.sidebar__menu-list:first-child .sidebar__menu-item {
    padding-left: 30px;
    position: relative;
}

.sidebar__menu-item + .sidebar__menu-item {
    margin-top: 15px;
}

.sidebar__menu-list:first-child .sidebar__menu-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
}

.sidebar__menu-item.book::after {
    background-image: url("../images/icons/book_icon.svg");
}

.sidebar__menu-item.star::after {
    background-image: url("../images/icons/star_icon.svg");
}

.sidebar__menu-item.library::after {
    background-image: url("../images/icons/library_icon.svg");
    height: 25px !important;
    width: 25px !important;
    top: -3px !important;
}

.sidebar__menu-link {
    font-size: 16px;
    line-height: 19px;
}

.sidebar__menu-item.find-book-form__input{
    padding-left: 14px !important;
}

.find-book-form__input{
    padding-left: 0;
    background-color: #fff;
    padding: 3px 14px;
    font-size: 12px;
    border-width: 1px;
    border-color: #5CB48A;
    border-style: solid;
    display: block;
    margin: auto;
    width: 190px;
}

.find-book-form__input[type = text]{
    border-radius: 20px;
}