body {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #F0FEF8;
}

.container {
    max-width: 912px;
    padding: 0 16px;
    margin: 0 auto;
}

.header__wrapper {
    background-color: #8BFBC5;
    height: 50px;
}

.header__inner {
    height: 50px;
}
.header__content {
    max-width: 450px;
    width: 100%;
}

.header__search-form {
    position: relative;
}

.header__search-form::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/search_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.header__search {
    background-color: #fff;
    max-width: 350px;
    width: 350px;
    border-radius: 20px;
    padding: 3px 14px;
    font-size: 12px;
    line-height: 14px;
    /* отступ между буквами */
    letter-spacing: 0.1em;
}

.header__search::placeholder {
    color: rgba(92, 180, 138, 0.6);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
}

.header__notification-btn {
    width: 35px;
    height: 35px;
}

.header__user-btn {
    width: 39px;
    height: 39px;
}

.header__notification-img,
.header__user-img {
    width: 100%;
    height: 100%;
    object-position: center center;
}

.header__content,
.header__inner {
    display: flex;
    /* отступы у элементов одинаковы друг от друга */
    justify-content: space-between;
    /* элементы по центру друг друга по вертикали */
    align-items: center;
}

.wrapper {
    margin: 10px 0;
}

.wrapper__inner {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    max-width: 250px;
    padding: 0px 10px;
    background-color: #fff;
}

.sidebar + .sidebar{
    margin-top: 15px;
}

.sidebar__menu-list:not(.sidebar__menu-list:first-child) {
    border-top: 1px solid #000;
}

.sidebar__menu-list {
    display: block;
    padding: 20px 0 !important;
}

.sidebar__menu-item {
    padding-left: 15px;
}

.sidebar__menu-list:first-child .sidebar__menu-item {
    padding-left: 30px;
    position: relative;
}

.sidebar__menu-item + .sidebar__menu-item {
    margin-top: 15px;
}

.sidebar__menu-list:first-child .sidebar__menu-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
}

.sidebar__menu-item.book::after {
    background-image: url("../images/icons/book_icon.svg");
}

.sidebar__menu-item.star::after {
    background-image: url("../images/icons/star_icon.svg");
}

.sidebar__menu-item.library::after {
    background-image: url("../images/icons/library_icon.svg");
    height: 23px !important;
    width: 23px !important;
    top: -3px !important;
}

.sidebar__menu-link {
    font-size: 16px;
    line-height: 19px;
}

.sidebar__menu-item.find-book-form__input{
    padding-left: 14px !important;
}

.sidebar__menu-wrapper {
    content: "";
    width: 17px;
    height: 22px;
    
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.find-book-form__input{
    padding-left: 0;
    padding: 3px 14px;
    font-size: 12px;
    border-width: 1px;
    border-color: #5CB48A;
    border-style: solid;
    display: block;
    margin: auto;
    width: 190px;
}

.find-book-form__input[type = text]{
    border-radius: 20px;
    background-image: url("../images/icons/search_icon.svg");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: contain;
}

.main{
    flex: 100%;
    padding-left: 10px;
}

.main__wrapper {
    background-color: #fff;
}

.main__header {
    padding: 20px 0 20px 50px;
    display: flex;
    align-items: center;
}

.main__header-h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.main__slider {
    background-color: #fff;
}

.main__slider-header {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
    line-height: 19px;  
}

.book-series-item {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    border-top: 2px solid rgba(25, 155, 93, 0.2);
    margin: 0 10px;
}

.book-series-item__img {
    height: 175px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.book-series-item-content {
    flex: 100%;
    margin-left: 17px;
}

.book-series-item-content__author {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.book-series-item-content__genre-bold {
    font-weight: 700;
}

.book-series-item-content__text {
    margin-top: 10px;
}

.book-series-item-content__book-span{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
}
.book-series-item-content__book {
    margin-top: 5px;
    margin-left: 13px;
}
.book-series-item-content__book::marker {
    font-weight: 700;
}
.book-series-item-content__books-list{
    margin-bottom: 25px;
}